@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.meet-page {
  height: 145vh;

  &__add-pub-section {
    padding: 1rem 0;
  }

  &__add-pub-text {
    padding-bottom: 0.5rem;
  }
}

.friends-wrapper {
  padding-top: 2rem;
  @include flex(row, flex-start, center);
}

.map-wrapper {
  height: 50vh;
  padding: 1rem;
}
