@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.meet-page {
  height: 170vh;

  &__add-pub-section {
    padding: 2rem 0;
  }

  &__add-pub-text {
    padding-bottom: 0.5rem;
  }
}

.friends-wrapper {
  padding-top: 2rem;
  @include flex(row, flex-start, center);
}

.map-wrapper {
  height: 50vh;
  padding: 1rem;

  @include tablet {
    padding-inline: 2.25rem;
  }

  @include desktop {
    padding-inline: 5rem;
  }

  &__key-container {
    @include flex(column, center, flex-end);
    padding-bottom: 1rem;
  }

  &__key {
    @include flex(row, center, center);
  }

  &__dot {
    background-color: black;
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 50%;
    margin-left: 0.25rem;
  }
}
