@use "../partials/variables" as *;
@use "../partials/breakpoints" as *;

// Flex Mixin
@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

// Font Sizing

@mixin mobile-nav {
  font-size: 0.85rem;
}

// Button

@mixin button {
  font-size: 0.8rem;
  font-weight: 600;
  @include flex(row, center, center);
  width: 100%;
  background-color: $primary-color;
  color: $secondary-color;
  border: none;
  border-radius: 1.25rem;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  white-space: nowrap;
  padding: 0.5rem 1rem;

  &:hover {
    background-color: $primary-color;
    box-shadow: 0px 8px 12px $secondary-color;
    color: $secondary-color;
    transform: translateY(-3px);
  }

  @include tablet {
    width: fit-content;
  }
}
