// Background

$primary-background: #fbf9f0;
$secondary-background: #f4fbf0;

// Fonts

$primary-color: #f3180a;
$secondary-color: black;
$tertiary-color: rgba(243, 24, 10, 0.3);
$sign-up-color: #4f4e4b;

// Font-Style

$primary-font: "Hanken Grotesk";
