@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.home-page {
  padding-inline: 1rem;
  height: 100vh;

  @include tablet {
    padding-inline: 2.25rem;
    height: 175vh;
  }

  @include desktop {
    padding-inline: 5rem;
    @include max-content;
  }

  &__hero {
    display: none;

    @include tablet {
      @include flex(row, center, stretch);
      padding-top: 2rem;
    }
  }

  &__red-boxes {
    margin-top: 4rem;
    height: 10rem;
    width: 50%;
    @include flex(row, flex-start, center);

    @include tablet {
      @include flex(row, center, stretch);
      width: 100%;
    }
  }

  &__boxes-col-1 {
    width: 50%;
    height: 10rem;
    @include flex(column, space-between, stretch);

    @include tablet {
      @include flex(row, space-between, stretch);
      gap: 2rem;
    }
  }

  &__box-1 {
    background-color: $primary-color;
    height: 4rem;
    width: 4rem;

    @include tablet {
      height: 6rem;
      width: 6rem;
    }
  }

  &__box-2 {
    @extend .home-page__box-1;
  }

  &__box-tablet {
    @extend .home-page__box-1;
    display: none;

    @include tablet {
      display: flex;
    }
  }

  &__box-3 {
    @extend .home-page__box-1;

    @include tablet {
      display: none;
    }
  }

  &__icon {
    position: relative;
    top: 1rem;
    left: 1rem;
    height: 2rem;

    @include tablet {
      height: 3.9rem;
    }
  }

  &__boxes-col-2 {
    width: 50%;

    @include tablet {
      display: none;
    }
  }

  &__bio-section {
    padding-top: 2rem;
    @include flex(row, flex-end, stretch);
  }

  &__bio {
    width: 50%;
  }

  &__button-container {
    padding-top: 5rem;
    @include flex(row, space-between, stretch);
    gap: 4rem;

    @include tablet {
      @include flex(row, flex-end, stretch);
      gap: 2rem;
    }
  }

  &__button {
    width: 40%;
  }
}
