@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.groups-page {
  padding-inline: 1rem;

  &__header {
    font-weight: 400;
  }

  &__product-cards {
    @include flex(row, space-between, stretch);
    gap: 1rem;
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
  }

  &__product-card {
    padding: 0.5rem 0;
    width: 20rem;
    @include flex(column, space-between, stretch);
  }

  &__link {
    text-decoration: none;
    font-size: 0.8rem;
    color: $primary-color;
  }

  &__image {
    width: 100%;
    border-radius: 1rem;
  }

  &__title {
    font-size: 0.8rem;
    height: 100%;
    display: block;
    font-weight: 400;
    width: 15rem;
  }

  &__text {
    padding-top: 0.25rem;
  }

  &__icon {
    padding-left: 0.25rem;
  }

  &__button {
    margin-top: 2rem;
  }
}

.popup-overlay {
  background: rgba(19, 24, 44, 0.7);
}

.trigger {
  cursor: pointer;
}

.modal {
  font-size: 0.75rem;
  width: 100%;
  padding-inline: 1rem;
  @include flex(column, center, stretch);
  background-color: $primary-background;
  border-radius: 2rem;

  &__header {
    width: 100%;
    font-size: 1.125rem;
    text-align: center;
    padding: 0.312rem;
  }

  &__content {
    width: 100%;
    padding: 0.625rem 0.31rem;
    @include flex(column, center, center);
  }

  &__label {
    text-align: left;
  }

  &__input {
    border-radius: 4px;
    background-color: $secondary-background;
    border: 1px solid $secondary-color;
    height: 1.25rem;
    margin-top: 0.25rem;
    padding: 0.25rem;
  }

  &__actions {
    width: 100%;
    padding: 0.625rem 0.31rem;
    @include flex(column, space-between, stretch);
    gap: 1rem;
  }

  &__close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 0.125rem 0.312rem;
    line-height: 20px;
    right: -0.625rem;
    top: -0.625rem;
    font-size: 1.5rem;
    background: #ffffff;
    border-radius: 1.125rem;
    border: 1px solid #cfcece;
  }
}
