@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/breakpoints" as *;

.friend-card {
  @include flex(row, center, center);
  width: 65%;
  height: 7rem;

  &__article {
    width: 80%;
    height: 100%;
    padding: 0.25rem;
    @include flex(column, space-between, center);
    border: 1px solid $primary-color;
    border-radius: 12px;
    box-shadow: -2px -4px inset $primary-color;
  }

  &__text {
    font-size: 0.8rem;
    text-align: center;
    padding-top: 0.5rem;

    &--fav-drink {
      font-weight: 600;
    }
  }
}
