@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/breakpoints" as *;

.nav {
  @include mobile-nav;
  padding: 1rem;

  @include tablet {
    padding: 1rem 2.25rem;
  }

  @include desktop {
    padding: 1rem 5rem;
    font-size: 1.25rem;
    @include max-content;
  }

  &__list {
    list-style: none;
    @include flex(row, space-between, center);
    padding: 0;
  }

  &__left-side {
    flex: 1;
  }

  &__right-side {
    @include flex(row, flex-end, center);
    gap: 1rem;
    flex: 2;
  }

  &__link {
    text-decoration: none;
    color: $primary-color;
    font-size: 0.8rem;
  }

  &__logo {
    height: 6vh;
  }
}
