@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.pub-form {
  &__button-container {
    padding: 1rem 1rem 0;

    @include tablet {
      padding-inline: 2.25rem;
    }

    @include desktop {
      padding-inline: 5rem;
    }
  }
  &__button {
    @include button;
  }
}
