@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.pub-form {
  height: 150vh;
  z-index: 2;

  @include desktop {
    @include max-content;
  }

  &__signout-button {
    background-color: $primary-background;
    border: 1px solid $primary-color;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    position: absolute;
    right: 1rem;
    padding: 0;

    &:hover {
      @include button;
      width: 20%;
      transition: 0.5s ease-in-out;
      &::after {
        content: "Sign out";
      }
    }

    @include tablet {
      right: 2.25rem;
    }

    @include desktop {
      right: 5rem;
    }
  }

  &__login {
    padding-inline: 1rem;
    @include flex(column, center, center);
  }

  &__link {
    text-decoration: none;
    color: $sign-up-color;
  }

  &__button-container {
    padding: 2rem 1rem 0;

    @include tablet {
      padding-inline: 2.25rem;
    }

    @include desktop {
      padding-inline: 5rem;
    }
  }
  &__button {
    @include button;
  }
}
