@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.pub-info {
  @include flex(column, flex-start, center);
  padding: 1rem;

  &__row {
    @include flex(row, space-between, center);
    width: 100%;
    flex: 1;
  }
}
