@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.pub-info {
  @include flex(column, flex-start, center);
  padding-top: 4rem;

  &__row {
    @include flex(row, space-between, center);
    width: 100%;
    padding: 0.25rem 0;
    text-align: start;
    font-size: 0.8rem;

    &--address {
      border-top: 1px solid $secondary-color;
      border-bottom: 1px solid $secondary-color;
    }
  }

  &__details {
    text-align: start;
    width: 50%;
  }
}
