@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/breakpoints" as *;

.add-pub {
  &__header {
    font-size: 1.2rem;
    padding-inline: 1rem;
    font-weight: 400;
  }

  &__form {
    @include flex(column, flex-start, stretch);
    padding: 1rem;
  }

  &__label {
    padding: 0.25rem 0;
  }

  &__input {
    border-radius: 4px;
    background-color: $secondary-background;
    border: 1px solid $secondary-color;
    width: 60%;
    height: 2rem;
    margin-top: 0.25rem;
    padding: 0.5rem;

    &:hover {
      outline: 2px solid $primary-color;
    }
  }
}
