@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.signup-page {
  padding-inline: 1rem;
  height: 110vh;
  @include flex(column, space-evenly, center);

  &__welcome {
    height: 8%;
  }

  &__form {
    height: 60%;
  }

  &__foot-note {
    height: 10%;
  }

  &__link {
    text-decoration: none;
    color: $sign-up-color;
  }
}
