@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/mixins" as *;

.map {
  &__sidebar-container {
    border-top: 1px solid $secondary-color;
    border-bottom: 1px solid $secondary-color;

    @include desktop {
      padding-inline: 4rem;
    }
  }

  &__sidebar {
    color: $secondary-color;
    font-family: $primary-font;
    font-size: 0.7rem;
    z-index: 1;
    padding: 0.5rem 0;
    border-radius: 4px;
  }

  &__desktop-container {
    @include flex(column-reverse, center, center);
    height: 60vh;

    @include tablet {
      @include flex(row, flex-start, stretch);
    }
  }

  &__container {
    margin-top: 0.25rem;
    height: 100%;
    border-radius: 4px;
    width: 100%;
  }

  &__listings {
    @include flex(row, flex-start, stretch);
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    height: 5rem;

    @include tablet {
      display: flex;
      flex-direction: column;
      height: auto;
      z-index: 4;
      overflow-y: scroll;
      overflow-x: hidden;
      width: 20%;
    }
  }

  &__item {
    height: 4rem;
    width: 100%;
    padding: 0.1rem;
    @include flex(column, space-between, flex-start);

    @include tablet {
      border-bottom: 1px solid #eee;
      height: 100%;
      padding: 0.625rem 0;
      text-decoration: none;
    }
  }

  &__title {
    display: block;
    color: $primary-color;
    font-weight: 400;
    font-size: 0.75rem;
    width: 8rem;
  }

  &__details {
    font-size: 0.6rem;
    color: $sign-up-color;
  }

  &__distance {
    @extend .map__details;
  }

  &__distance-value {
    color: $primary-color;
  }
}
