@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/resets" as *;

.map-container {
  height: 60vh;
  margin: 1rem;
  border-radius: 4px;
}

.sidebar {
  padding: 1rem;
  background-color: rgb(35 55 75 / 90%);
  color: #fff;

  margin: 1rem;
  font-family: monospace;
  z-index: 1;

  border-radius: 4px;
}
