.map-container {
  height: 60vh;
  margin: 1rem;
  border-radius: 4px;
}

.filler {
  height: 100px;
  width: 100px;
}

.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 0.75rem;
  margin: 1rem;
  font-family: monospace;
  z-index: 1;

  border-radius: 4px;
}
