@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/mixins" as *;

.pub-distance {
  padding-top: 1rem;
  &__text {
    padding-bottom: 0.5rem;
  }

  &__address-text {
    padding-top: 0.5rem;
  }

  @include tablet {
    padding-top: 2rem;
  }
}
